<!DOCTYPE html>
<html>
  <head>
    <title>Request Header Parser</title>
    <meta name="description" content="A request header parser microservice made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>A Request Header Parser</h1>
    </header>

    <main>
      <h4>API endpoint:</h4>
      <a href="https://wiry-feels.glitch.me/api">https://wiry-feels.glitch.me/api</a>
    </main>

    <footer>
    </footer>

  </body>
</html>
